@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body{
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    width: 120px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.container{
    background-color:#e0216297;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 320px;
    padding: 25px;
    text-decoration: white;
    color: white;
    border-radius: 5px;
    font-family: "Source Sans 3", sans-serif;

}
.forget{
    text-align: right;
    color: black;
    margin-top: 15px
}
input{
    padding: 5px 36px;
    padding-left: 3px;
    padding-right:70px;
}
::placeholder{
    text-align:left;}
   
.cta{
    border-bottom: 1px solid white;
    text-align: center;
    margin-top: -7px;
    margin-bottom: 35px;

}
.btn{
    color: white;
    background-color: black;
    padding: 10px  105px;
    
}